[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
fastapi = "*"
mangum = "*"
bs4 = "*"
lxml = "*"
iso8601 = "*"
python-dotenv = "*"

[dev-packages]
boto3 = "*"

[requires]
python_version = "3.9"
